<main class="main-container">
  <section class="search-input">
    <div>
      <label for="filter">Cancion</label>

      <input id="filter" type="text" [(ngModel)]="searchFilter">
    </div>

    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select [(ngModel)]="categorySelected" name="category">
        @for (category of categoryList; track category) {
          <mat-option [value]="category">{{ category }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </section>

  <section class="main-content">
    <div class="song-content">
      @for (record of recordList | filter: searchFilter | categoryFilter: categorySelected; track record) {
        <div class="song-field">
          <div class="song">{{ record.songName }}</div>

          <div>{{ record.artist }}</div>
        </div>
      }
    </div>
  </section>
</main>
